@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: auto 0;
  font-family: 'Raleway', sans-serif;
  height: 100vh;
  background: #333 url('./workstation.jpg') no-repeat center center / cover;
  color: #ccc;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.border {
  border: 1px solid #fff;
  display: inline-block;
  padding: 4px;
}

a.border:hover {
  background-color: #00aaff;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color: #fff;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}

* {
  margin: 0;
  padding: 0;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  font-size: 1rem;
}

li {
  padding: 20px;
}

.push {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.sticky {
  top: 0;
  position: fixed;
  width: 100%;
}

/* Footer */

.footer {
  background: #fff;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.social-icons {
  list-style: none;
  margin: 0;
  display: flex;
}

.footer-left {
  padding: 20px;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright {
  font-weight: 400;
  color: #00aaff;
}

a.twitter {
  color: #00aaff;
}

/* Media Query */

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 0.9rem;
  }
}
